@inherits LayoutComponentBase

<div class="simple-layout">
    <nav class="navbar">
        <div class="nav-container">
            
            <ul class="nav-menu">
                <li><a href="/" class="nav-link active">Home</a></li>
                <li><a href="/projects" class="nav-link">Projects</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>


    <main>
        @Body
    </main>
</div>
